.title {
    margin: 7.5% 0;

}

.paragraph {
    font-size: 22px;
    margin-top: 2%;
}

.button {
    text-align: center;
    display: block;
    margin: 2% auto;
}

#tokenSelector {
    text-align: center;
    display: block;
    margin: 2% auto;
}

.content {
    background-color: #b2b8e0;
}